# Created by .ignore support plugin (hsz.mobi)
### Terraform template
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
